# Database
DATABASE_URL="postgresql://nextworth:nextworth@localhost:5436/nextworth"

# BetterAuth
BETTER_AUTH_SECRET="change-me-to-a-random-string-at-least-32-chars"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# ML Service
ML_SERVICE_URL="http://localhost:5000"
